<div class="row">
  <div class="col-xxl-12">
    <div class="row">
      <!-- Card 1 - Online Systems & Nodes -->
      <div class="col-md-4">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <!-- Card 2 - Health -->
      <div class="col-md-4">
        <ngx-earning-card></ngx-earning-card>
      </div>
      <!-- Card 3 - Firmware -->
      <div class="col-md-4">
        <ngx-solar [chartValue]="solarValue"></ngx-solar>
      </div>
      <!-- Card 4 - Modal Toastr Notification 
      <div class="col-md-3">
        <h3 id="Notification">Notification</h3>
          <button nbButton (click)="makeToast()">Show toast</button>
      </div>
      -->
    </div>
    <!--<ngx-traffic-reveal-card></ngx-traffic-reveal-card>-->
  </div>

  <div class="col-xxl-12">
    <div class="row">

      <!-- Power Consumption Chart -->
      <div class="col-md-12">
        <h3 id="powerConsumption">Power Consumption</h3>
        <ngx-ecommerce-charts></ngx-ecommerce-charts>
      </div>

      <!-- Temperature Chart -->
      <div class="col-md-12">
        <h3 id="tempSensors">System Temperature</h3>
        <ngx-ecommerce-charts></ngx-ecommerce-charts>
      </div>
    </div>
  </div>
</div>
<!--
<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>
-->
