<nb-card-header>
  <!--<i class="ion-social-usd"></i>-->
  <span class="title">Online</span>
</nb-card-header>

<nb-card-body>

  <nb-list>
    <nb-list-item>
      <div class="">
        <div class="">Systems 
          <div id="systemsHeader" class="h4 text-success"> 5 of 6 </div>
        </div>
        <div class="">Nodes 
          <div id="nodesHeader" class="h4 text-primary"> 32 of 45 </div>
        </div>
      </div>
    </nb-list-item>
  </nb-list>

  <!--<ngx-stats-bar-animation-chart [linesData]="linesData"></ngx-stats-bar-animation-chart>-->
</nb-card-body>
